.header {

  &__line {
    @include r ($lg) {
      position: absolute;
      background-color: $white;
      width: 100%;
      height: 2px;
      left: 0;
      top: 10px;
      transition: transform 0.3s ease 0s;
    }
  }

  &__btn {
    display: none;

    @include r ($lg) {
      display: block;
      position: relative;
      z-index: 100;
      width: 30px;
      height: 22px;
      transition: transform 0.3s ease 0s;
      z-index: 100;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: $white;
        width: 100%;
        height: 2px;
        left: 0;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &--active:before {
        transform: rotate(45deg);
        top: 10px;
      }

      &--active:after {
        transform: rotate(-45deg);
        bottom: 10px;
      }

      &--active {

        &:after,
        &:before {
          background-color: #000;
        }

        .header__line {
          transform: scale(0);
        }
      }
    }

    &--burger {
      position: absolute;
      right: 26px;
      top: 47px;
    }
  }

  &__form {
    margin-right: 35px;

    @include r ($xl) {
      margin-right: 0;
    }
  }

  &__top {
    font-family: $font-Lato;
    font-weight: 700;
    color: $white;
    background-color: $dark-800;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.2;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;

    @include r ($xs) {
      padding: 14px 0;
    }
  }

  &__top-text {
    @include r ($sm) {
      &--hidden {
        display: none;
      }
    }
  }

  &__top-row {
    display: flex;

    @include r ($xs) {
      display: flex;
      align-items: center;
    }

    &--hidden {
      @include r ($lg) {
        display: none;
      }
    }
  }

  &__top-item {
    @include r ($xs) {
      padding: 0;
      margin: 0;
    }

    &--menu {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__top-link {
    position: relative;
    transition: opacity 0.4s;
    text-align: none;

    &--delivery {
      margin-right: 45px;

      @include r ($xl) {
        margin-right: 60px;
      }

      @include r ($md) {
        margin-right: 30px;
      }
    }

    &--tel,
    &--delivery {
      padding-left: 42px;

      @include r ($xs) {
        padding-left: 10px;
        right: 10px;
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: '';
      position: absolute;
      height: 22px;
      left: 0;
      top: -5px;
    }

    &--delivery {
      &::before {
        background-image: url('../images/icon/delivery.svg');
        width: 32px;
      }
    }


    &--tel {
      &::before {
        background-image: url('../images/icon/tel.svg');
        width: 22px;
      }
    }
  }

  &__bottom {
    background-color: $green-900;
    padding: 25px 0;

    @include r ($xs) {
      padding: 9px 0;
    }

    @include r ($md) {
      position: relative;
      padding: 15px 0;
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;

    @include r ($md) {
      justify-content: space-between;
    }
  }
}

/* ----- Логотип ----- */
.logo {
  &--bottom {
    margin-right: 24px;

    @include r ($xl) {
      margin-right: 15px;
    }

    @include r ($lg) {
      margin-right: 10px;
    }

    @include r ($sm) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include r ($lg) {
      display: block;
      margin: 25px 15px;
    }
  }

  &--short {
    display: none;

    @include r ($sm) {
      display: block;
      margin-right: 27px;
    }
  }
}

/* ----- Полбзователи ----- */
.users {
  position: relative;
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    @include r ($xl) {
      &:not(:last-child) {
        margin-right: 3px;
      }
    }

    @include r ($lg) {
      &--hidden {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: background-color 0.4s;
    position: relative;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    @include r ($xs) {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__num {
    position: absolute;
    color: $red-900;
    top: 2px;
    left: 2px;
    font-size: 10px;
    line-height: 1;
    padding: 4px 3px;
    border-radius: 50%;
    background-color: $white;
  }

}