@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


/* -----------  header  ---------- */
.header-top {
  @extend %lato-700;
  color: $white;
  background-color: $dark-800;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.2;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
  }

  &__link:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    padding-left: 42px;
    position: relative;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }

    &--tel {
      padding-left: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 22px;
      left: 0;
      top: -5px;
    }
  }

  &__link--delivery::before {
    background-image: url('../images/icon/delivery.svg');
    width: 32px;
  }

  &__link--tel::before {
    background-image: url('../images/icon/tel.svg');
    width: 22px;
  }


}

.menu {
  display: flex;

  &__item {
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__item:not(:last-child) {
    margin-right: 25px;
  }
}

.header-bottom {
  background-color: $green-900;
  padding: 25px 0;

  &__logo {
    margin-right: 27px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__catalog-link {
    background-color: $white;
    color: $green-900;
    padding: 15px 40px 15px 60px;
    border-radius: 6px;
    position: relative;
    margin-right: 27px;
    transition: background-color 0.4s;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/icon/nav-icon.svg');
      width: 25px;
      height: 17px;
      left: 18px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icon/arrow-down.svg');
      background-repeat: no-repeat;
      width: 20px;
      height: 10px;
      top: 23px;
      right: 5px;
    }

    &:hover {
      background-color: #E0EDCF;
    }

    &:active {
      background-color: #E0EDCF;
    }
  }

}

.form {
  display: flex;
  width: 576px;
  height: 50px;
  border-radius: 6px;
  position: relative;
  margin-right: 48px;

  &__img {
    position: absolute;
    top: 14px;
    left: 13px;
  }

  &__link {
    transition: all 0.5s;

    &:hover {
      position: absolute;
      background-color: #FFFFFF;
      width: 44px;
      height: 44px;
      opacity: 0.1;
      border-radius: 3px;
    }
  }


  &__serch {
    width: 419px;
    background-color: $white;
    color: $dark-800;
    @extend %lato-400;
    padding: 15px 15px 15px 50px;
    border: none;
    border-radius: 6px 0 0 6px;
    transition: background-color 0.4s;
    &:focus {
      background-color: #E0EDCF;
    }
  }

  &__button {
    background-color: $dark-800;
    color: $white;
    text-transform: uppercase;
    padding: 15px 52px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s;

    &:focus {
      background-color: #31352B;
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
      background-color: #31352B;
      ;
    }
  }
}

.users {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 31px;
  }

  &__item {
    position: relative;
  }

  &__num {
    position: absolute;
    color: $red-900;
    top: -8px;
    left: -7px;
    font-size: 10px;
    line-height: 1;
    padding: 4px 3px;
    border-radius: 50%;
    background-color: $white;
  }

  /* &__link{
    transition: all 0.4s;
    &:hover {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #FFFFFF;
      opacity: 0.1;
      border-radius: 3px;
    }
  } */
}

/* ---------- Слайдер -------------- */
.slider {
  padding: 0;

  &__button {
    @extend %lato-400;
    color: $white;
    background-color: $green-900;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 25px;
  }

  &__item {
    padding-top: 143px;
    height: 600px;
  }

  &__box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    width: max-content;
    color: $dark-500;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  &__title {
    @extend %signika-700;
    padding: 24px 24px 12px;
    text-transform: uppercase;
    font-size: 60px;
  }

  &__action {
    display: block;
    color: $red-900;
  }

  &__text {
    @extend %lato-400;
    font-size: 16px;
    padding: 0 24px 24px;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  z-index: 100;
  padding: 14px 20px;
  transform: translateY(-50%);
}

.slick-prev {
  left: 60px;
}

.slick-next {
  right: 60px;
}

/* --------- Услуги ---------------- */
.services {
  padding: 48px 0;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      left: -75px;
    }

    &--delivery::before {
      background-image: url('../images/icon/delivery-action.svg');
    }

    &--return::before {
      background-image: url('../images/icon/return.svg');
    }

    &--time::before {
      background-image: url('../images/icon/24-hours.svg');
    }
  }

  &__item:not(:last-child) {
    margin-right: 122px;
  }

  &__title {
    font-size: 16px;
    @extend %lato-700;
    margin-bottom: 7px;
  }

  &__text {
    color: $dark-500;
    @extend %lato-400;
  }
}

.top-products__list-btn .mixitup-control-active {
  color: $green-900;
}

/* ---------- Топовые товары  ------------ */
.top-products {
  background-color: $white;

  &__button {
    @extend %lato-400;
    display: block;
    color: $green-900;
    padding: 12px 24px;
    background-color: $white;
    border: 1px solid $green-900;
    border-radius: 6px;
    margin: 0 auto;
    transition: color 0.4s linear, background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      color: rgba(99, 166, 14, 0.5);
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__list-btn {
    @extend %lato-700;
    font-size: 15px;
    display: flex;
    margin-bottom: 48px;
  }

  &__btn {
    text-transform: uppercase;
    transition: border 0.4s;

    &:hover {
      border-bottom: 3px solid #E0EDCF;
      margin-bottom: -3px;
    }

    &:active {
      border-bottom: 3px solid #E0EDCF;
      margin-bottom: -3px;
    }
  }

  &__element:not(:last-child) {
    margin-right: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__item {
    width: 300px;
    height: 409px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: border-color 0.4s;

    &:nth-child(4) {
      margin-right: 0;
    }

    &:nth-child(8) {
      margin-right: 0;
    }

    &:hover {
      border-color: $green-900;
    }

  }

  &__header {
    margin: 12px 12px 7px;
    display: flex;
    justify-content: space-between;
  }

  &__special-offer {
    text-transform: uppercase;
    color: $white;
    @extend %lato-700;
    font-size: 10px;
    line-height: 1;
  }

  &__badges,
  .top-products__discount-percent {
    padding: 3px 6px;
    border-radius: 6px;
  }

  &__badges {
    background-color: $green-900;
    display: block;
    margin-bottom: 9px;

    &--hidden {
      display: none;
    }

    &--hit {
      background-color: $orange-900;
    }
  }

  &__discount-percent {
    background-color: $red-900;

    &--hidden {
      display: none;
    }
  }

  &__button-heart path {
    transition: fill 0.4s;
  }

  &__button-heart path {
    &:hover {
      fill: $yellow-900;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin: 18px;
  }

  &__bottom {
    display: flex;
    align-content: space-between;
    align-items: flex-end;
  }

  &__prise {
    line-height: 1;
    @extend %lato-400;
  }

  &__old-prise {
    display: block;
    @extend %lato-400;
    color: $silver-600;
    position: relative;
    margin-bottom: 3px;

    &--hidden {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $silver-600;
      transform: rotate(-14deg);
    }
  }

  &__button-basket {
    padding: 8px;
    background-color: $green-900;
    border-radius: 3px;
    margin-left: auto;
  }
}

/* ---------- footer  -------------- */
.footer {
  background-color: $dark-800;
  @extend %lato-400;
  color: $white;

  &__logo {
    padding: 30px 0;
  }
}

.footer-top {
  display: flex;
  padding-bottom: 46px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__adt {
    margin-bottom: 18px;
    display: block;
    line-height: 1;
  }

  &__form {
    height: 40px;
    width: 100%;
    margin-right: 158px;
  }

  &__serch {
    width: 182px;
    background-color: $white;
    padding: 12px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 468px;
    margin-right: 158px;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__info {
    width: 215px;
  }

  &__address {
    width: 215px;
    margin-bottom: 18px;
  }

  &__tell {
    margin-bottom: 18px;
  }

  &__text {
    padding-right: 5px;
  }

  &__button {
    @extend %lato-700;
    text-transform: uppercase;
    color: $white;
    border-radius: 0 6px 6px 0;
    background-color: $green-900;
    padding: 12px 10px 12px 14px;
  }
}

.socials {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 44px;
  }

  &__link {
    position: relative;
    transition: opacity 0.4s;

    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      right: 0;
      left: 0;
    }

    &--facebook::before {
      background-image: url('../images/icon/facebook.svg');
    }

    &--youtube::before {
      background-image: url('../images/icon/youtube.svg');
    }

    &--telegram::before {
      background-image: url('../images/icon/telegram.svg');
    }

    &--instagram::before {
      background-image: url('../images/icon/instagram.svg');
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.footer-bottom {
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__accept-img:not(:last-child) {
    margin-right: 24px;
  }

  &__accept-img {
    display: inline-block;
    height: 29px;
  }

}







@import 'media';