<section class="banners">
  <div class="container">

    <ul class="banners__list">

      <li class="banners__item banners__item--fruits"
        style="background-image: url('images/banners/banner-1.jpg'); width: 630px; height: 300px;">
        <p class="banners__subtitle banners__subtitle--fruits">
          СВЕЖАЙШИЕ ФРУКТЫ
        </p>
        <h3 class="banners__title banners__title--fruits">
          НАЧНИ ФРУКТОВОЕ ЛЕТО
          ВСЕГО От 99 ₽
        </h3>
        <a class="banners__link banners__link--fruits" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>

      <li class="banners__item"
        style="background-image: url('images/banners/banner-2.jpg'); width: 300px; height: 300px;">
        <p class="banners__subtitle">
          СЕЗОННАЯ РАСПРОДАЖА
        </p>
        <h3 class="banners__title">
          ОВОЩЕПАД
          ДО -50%
        </h3>
        <a class="banners__link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>

      <li class="banners__item"
        style="background-image: url('images/banners/banner-3.jpg'); width: 300px; height: 300px;">
        <p class="banners__subtitle">
          НЯМ-НЯМ
        </p>
        <h3 class="banners__title">
          СВЕЖИЙ
          ХЛЕБЧИК
        </h3>
        <a class="banners__link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </li>

    </ul>

  </div>

</section>