<header class="header" id="header">
  <h1 class="sr-only">ФРЕШоК | Главная страница</h1>
  <div class="header__nav">
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">

          <button class="header__btn" aria-label="Меню" type="button">
            <span class="header__line"></span>
          </button>

          <div class="burger-menu">
            <div class="burger-menu__box">

              <button class="header__btn header__btn--burger" aria-label="Меню" type="button">
                <span class="header__line"></span>
              </button>

              <a class="logo logo--mobile" href="#footer">
                <svg class="logo__img logo__img--mobile" width="200" height="60" fill="#63A60F">
                  <use xlink:href="images/sprite.svg#logo"></use>
                </svg>
              </a>

              <div class="burger-menu__links">
                <a class="burger-menu__link" href="#">
                  Вход
                </a>

                <a class="burger-menu__link" href="#">
                  Регистрация
                </a>
              </div>

              <div class="catalog catalog--burger">
                <a class="catalog__btn" href="#">
                  Каталог товаров
                </a>
                <ul class="catalog__list">

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Овощи и фрукты
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Бакалея
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Молочные продукты
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Хлеб
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Мясо
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Колбаса
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Рыба
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Алкоголь
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Напитки
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Торты
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Мясо
                    </a>
                  </li>

                  <li class="catalog__item">
                    <a class="catalog__link" href="#">
                      Чай, кофе
                    </a>
                  </li>

                </ul>
              </div>

              <address class="footer__column footer__column--address footer__column--burger">
                <div class="footer__inner">
                  <a class="footer__link footer__link--tel" href="tel:+7907288365">
                    +7 907 288 365
                  </a>
                  <a class="footer__link footer__link--address" href="#">
                    Санкт-Петербург, ул. Ленина, 1
                  </a>
                </div>

                <ul class="socials socials--burger">

                  <li class="socials__item">
                    <a class="socials__link" aria-label="facebook" href="#">
                      <svg class="socials__img" width="32" height="29" fill="#31352B">
                        <use xlink:href="images/sprite.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="socials__item">
                    <a class="socials__link" aria-label="youtube" href="#">
                      <svg class="socials__img" width="32" height="29" fill="#31352B">
                        <use xlink:href="images/sprite.svg#youtube"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="socials__item">
                    <a class="socials__link" aria-label="telegram" href="#">
                      <svg class="socials__img" width="32" height="29" fill="#31352B">
                        <use xlink:href="images/sprite.svg#telegram"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="socials__item">
                    <a class="socials__link" aria-label="instagram" href="#">
                      <svg class="socials__img" width="32" height="29" fill="#31352B">
                        <use xlink:href="images/sprite.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </address>

              <nav class="footer__column footer__column--nav footer__column--burger-nav">

                <ul class="footer__list">
                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Доставка
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      О нас
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Новости
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Контакты
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Акции
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Вакансии
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Отзывы
                    </a>
                  </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">
                      Публичная оферта
                    </a>
                  </li>
                </ul>

              </nav>

            </div>

          </div>

          <ul class="header__top-row">

            <li class="header__top-item">
              <a class="header__top-link header__top-link--delivery" href="#">
                <span class="header__top-text header__top-text--hidden">адрес и время доставки</span>
              </a>
            </li>

            <li class="header__top-item">
              <a class="header__top-link header__top-link--tel" href="#">
                <span class="header__top-text header__top-text--hidden">горячая линия 24/7</span>
              </a>
            </li>

          </ul>
          <ul class="header__top-row header__top-row--hidden">

            <li class="header__top-item header__top-item--menu">
              <a class="header__top-link" href="#">
                доставка
              </a>
            </li>

            <li class="header__top-item header__top-item--menu">
              <a class="header__top-link" href="#">
                о нас
              </a>
            </li>

            <li class="header__top-item header__top-item--menu">
              <a class="header__top-link" href="#">
                новости
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="header__bottom">
      <div class="container">

        <div class="header__bottom-inner">

          <a class="logo logo--bottom" href="#footer">
            <svg class="logo__img logo__img--bottom" width="200" height="60" fill="#fff">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
          </a>
          <a class="logo logo--short" href="#footer">
            <svg class="logo__img logo__img--short" width="37" height="40" fill="#fff">
              <use xlink:href="images/sprite.svg#logo-short"></use>
            </svg>
          </a>
          <div class="catalog">
            <a class="catalog__btn" href="#">
              Каталог <span class="hidden catalog__btn--hidden">продуктов</span>
            </a>
            <ul class="catalog__list">

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Овощи и фрукты
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Бакалея
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Молочные продукты
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Хлеб
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Мясо
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Колбаса
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Рыба
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Алкоголь
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Напитки
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Торты
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Мясо
                </a>
              </li>

              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Чай, кофе
                </a>
              </li>

            </ul>
          </div>


          <form class="form header__form" action="#">
            <a class="form__icon" href="#">
              <svg class="form__img" width="20" height="20" fill="#fff">
                <use xlink:href="images/sprite.svg#search-white"></use>
              </svg>
            </a>
            <div class="form__box">
              <label class="sr-only" for="search">поиск по сайту</label>
              <input class="form__search form__search--desktop" type="search" name="search" id="search"
                placeholder="Найти в магазине ..." required>
              <input class="form__search form__search--mobile" type="search" name="search" id="search"
                placeholder="Я ищу..." required>
              <button class="button form__button" type="submit">поиск</button>
            </div>
          </form>

          <ul class="users">

            <li class="users__item users__item--hidden">
              <a class="users__link" aria-label="Ваш профиль">
                <svg class="users__user" width="25" height="32" fill="#fff">
                  <use xlink:href="images/sprite.svg#user"></use>
                </svg>
              </a>
            </li>

            <li class="users__item users__item--hidden">
              <a class="users__link" aria-label="избранное">
                <svg class="users__heart" width="32" height="29" fill="#fff">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
                <span class="users__num">12</span>
              </a>
            </li>

            <li class="users__item">
              <a class="users__link users__link--btn" aria-label="корзина">
                <svg class="users__cart" width="32" height="31" fill="#fff">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="users__num">12</span>
              </a>
            </li>

          </ul>

          <div class="cart">
            <div class="cart__box">
              <h4 class="cart__title">
                Корзина
              </h4>
              <a class="cart__link" href="#">
                очистить корзину
              </a>
              <button class="cart__btn users__link--btn" type="button"></button>
            </div>
            <div class="cart__content">

              <ul class="cart__list">

                <li class="cart__item">
                  <article class="product-card product-card--cart">
                    <a class="product-card__link" href="#">
                      <div class="product-card__inner">
                        <a class="product-card__delete" href="#">
                          <img class="product-card__img-delete" src="images/icon/delete.svg" alt="удалить" width="12"
                            height="12">
                        </a>
                        <div class="product-card__top">
                          <img class="product-card__img" src="images/cart/1.jpg" width="60" height="60" alt="Ананас">
                          <div class="product-card__content">
                            <h3 class="product-card__heading">
                              Ананас, 1 кг
                            </h3>
                            <span class="product-card__price product-card__price--start ">
                              999<span class="product-card__currency">₽</span>
                            </span>
                          </div>
                        </div>
                        <div class="product-card__bottom">
                          <div class="product-card__row">
                            <div class="product-card__counter">
                              <button class="product-card__button" type="button">
                                <img src="images/icon/minus.svg" alt="минус" class="product-card__icon">
                              </button>
                              <span class="product-card__num">2</span>
                              <button class="product-card__button" type="button">
                                <img src="images/icon/plus.svg" alt="плюс" class="product-card__icon">
                              </button>
                            </div>
                            <span class="product-card__price product-card__price--finish">
                              1998 <span class="product-card__currency product-card__currency--finish">₽</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </article>
                </li>

                <li class="cart__item">
                  <article class="product-card product-card--cart">
                    <a class="product-card__link" href="#">
                      <div class="product-card__inner">
                        <a class="product-card__delete" href="#">
                          <img class="product-card__img-delete" src="images/icon/delete.svg" alt="удалить" width="12"
                            height="12">
                        </a>
                        <div class="product-card__top">
                          <img class="product-card__img" src="images/cart/2.jpg" width="60" height="60" alt="Питахайя">
                          <div class="product-card__content">
                            <h3 class="product-card__heading">
                              Питахайя красная с белой мякотью, 1шт
                            </h3>
                            <span class="product-card__price product-card__price--start ">
                              1019<span class="product-card__currency">₽</span>
                            </span>
                          </div>
                        </div>
                        <div class="product-card__bottom">
                          <div class="product-card__row">
                            <div class="product-card__counter">
                              <button class="product-card__button" type="button">
                                <img src="images/icon/minus.svg" alt="минус" class="product-card__icon">
                              </button>
                              <span class="product-card__num">2</span>
                              <button class="product-card__button" type="button">
                                <img src="images/icon/plus.svg" alt="плюс" class="product-card__icon">
                              </button>
                            </div>
                            <span class="product-card__price product-card__price--finish">
                              2038 <span class="product-card__currency product-card__currency--finish">₽</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </article>
                </li>

              </ul>

              <div class="cart__bottom">
                <div class="cart__bottom-box">
                  <h4 class="cart__heading">
                    Товаров на сумму
                  </h4>
                  <span class="cart__sum">
                    2038<span class="cart__currency">₽</span>
                  </span>
                </div>
                <a class="button cart__button" href="#">
                  Оформить заказ
                </a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>