<section class="top-products" data-ref="container-1">
  <div class="container">

    <h2 class="title top-products__title">
      топовые фрукты
    </h2>

    <ul class="products-filter__menu">

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter="all">
          все товары
        </button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-a">
          фрукты
        </button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-b">
          овощи
        </button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-c">
          напитки
        </button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-d">
          бакалея
        </button>
      </li>

    </ul>

    <ul class="top-products__list">

      <li class="top-products__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge">новинки</span>
              <span class="product-card__badge badge badge--sale">- 50%</span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/1.jpg" width="300" height="215" alt="ананасы">
            <div class="product-card__content">
              <h3 class="product-card__heading">Ананас, 1кг</h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old">1999 ₽</span>
                  <span class="product-card__price product-card__price--new">999 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge badge--hidden"></span>
              <span class="product-card__badge badge badge--sale badge--hidden"></span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/2.jpg" width="300" height="215" alt="Лимон">
            <div class="product-card__content">
              <h3 class="product-card__heading">Лимон, 1кг</h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old product-card__price--hidden"></span>
                  <span class="product-card__price product-card__price--new">199 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge badge--hit">хит</span>
              <span class="product-card__badge badge badge--sale badge--hidden"></span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/3.jpg" width="300" height="215" alt="Питахайя">
            <div class="product-card__content">
              <h3 class="product-card__heading">Питахайя красная с белой мякотью, 1шт</h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old product-card__price--hidden"></span>
                  <span class="product-card__price product-card__price--new">1019 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge">новинки</span>
              <span class="product-card__badge badge badge--sale badge--hidden"></span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/4.jpg" width="300" height="215"
              alt=">Перец оранжевый">
            <div class="product-card__content">
              <h3 class="product-card__heading">Перец оранжевый, 1кг</h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old">1999 ₽</span>
                  <span class="product-card__price product-card__price--new">999 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge badge--hit">хит</span>
              <span class="product-card__badge badge badge--sale badge--hidden"></span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/5.jpg" width="300" height="215" alt="Морковь">
            <div class="product-card__content">
              <h3 class="product-card__heading">Морковь молодая с бабушкиной грядки, 1кгг</h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old product-card__price--hidden"></span>
                  <span class="product-card__price product-card__price--new">49 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge badge--hidden"></span>
              <span class="product-card__badge badge badge--top badge--sale">- 30%</span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/6.jpg" width="300" height="215"
              alt="Напиток Sanpellegrino Aranciata">
            <div class="product-card__content">
              <h3 class="product-card__heading">
                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный
                апельсин безалкогольный...
              </h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old">299 ₽</span>
                  <span class="product-card__price product-card__price--new">199 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge">новинки</span>
              <span class="product-card__badge badge badge--sale badge--hidden"></span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/7.jpg" width="300" height="215" alt="Кофе">
            <div class="product-card__content">
              <h3 class="product-card__heading">Кофе с коноплей органический Caffé Salomoni 250г</h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old product-card__price--hidden"></span>
                  <span class="product-card__price product-card__price--new">877 ₽ </span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="top-products__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <div class="product-card__top">
              <span class="product-card__badge badge badge--hidden"></span>
              <span class="product-card__badge badge badge--sale badge--hidden"></span>
              <button class="product-card__button-heart" type="button" aria-label="добавить в избранное">
                <svg class="product-card__heart" width="32" height="29" fill="#C1C1C1">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <img class="product-card__img" src="images/top-products/8.jpg" width="300" height="215" alt="Кетчуп">
            <div class="product-card__content">
              <h3 class="product-card__heading">
                Кетчуп томатный детский органический Bio-Zentrale 500мл
              </h3>
              <div class="product-card__bottom">
                <div class="product-card__offers">
                  <span class="product-card__price product-card__price--old  product-card__price--hidden"></span>
                  <span class="product-card__price product-card__price--new">600 ₽</span>
                </div>
                <button class="product-card__basket button" type="button" aria-label="добавить в корзину">
                  <svg class="product-card__cart" width="16" height="16" fill="#fff">
                    <use xlink:href="images/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </article>
      </li>


    </ul>

    <a class="button top-products__button" href="#">
      Показать еще
    </a>

    <div class="banners">

      <ul class="banners__list">

        <li class="banners__item banners__item--fruits"
          style="background-image: url('images/banners/banner-1.jpg')">
          <p class="banners__subtitle">
            свежайшие фрукты
          </p>
          <h3 class="banners__title">
            начни фруктовое лето
            всего от 99 ₽
          </h3>
          <a class="banners__link banners__link--color" href="#">
            перейти к покупкам
          </a>
        </li>

        <li class="banners__item"
          style="background-image: url('images/banners/banner-2.jpg')">
          <p class="banners__subtitle">
            сезонная распродажа
          </p>
          <h3 class="banners__title">
            овощкпад
            до -50%
          </h3>
          <a class="banners__link" href="#">
            перейти к покупкам
          </a>
        </li>

        <li class="banners__item"
          style="background-image: url('images/banners/banner-3.jpg')">
          <p class="banners__subtitle">
            ням-ням
          </p>
          <h3 class="banners__title">
            свежий 
            хлебчик
          </h3>
          <a class="banners__link" href="#">
            перейти к покупкам
          </a>
        </li>

      </ul>

    </div>

  </div>
</section>