<footer class="footer" id="footer">
  <div class="container">

    <a class="logo footer__logo" href="#header">
      <img class="logo__img" src="images/icon/logo.svg" width="200" height="60" alt="логотип">
    </a>

    <div class="footer__top">

      <div class="footer__column footer__column--subscribe">
        <p class="footer__news">
          Следите за нашими акциями
        </p>
        <form class="footer__form form" action="#">
          <label class="sr-only" for="email">Ваш email</label>
          <input class="footer__search form__search" name="email" id="email" type="email" placeholder="email@email.com"
            required>
          <button class="button footer__button" type="submit">подписаться</button>
        </form>
      </div>

      <nav class="footer__column footer__column--nav">

        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              О нас
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Оплата и доставка
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Отзывы
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Контакты
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Вакансии
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Новости
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Публичная оферта
            </a>
          </li>

          <li class="footer__item">
            <a class="footer__link" href="#">
              Акции
            </a>
          </li>
        </ul>

      </nav>

      <address class="footer__column footer__column--address">
        <div class="footer__inner">
          <div class="footer__tel">
            <a class="footer__link" href="tel:+7907288365">
              Горячая линия +7 907 288 365
            </a>
          </div>
          <a class="footer__link" href="#">
            Санкт-Петербург, ул. Ленина, 1
          </a>
        </div>

        <ul class="socials">

          <li class="socials__item">
            <a class="socials__link" aria-label="facebook" href="#">
              <svg class="socials__img" width="32" height="29" fill="#fff">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="socials__item">
            <a class="socials__link" aria-label="youtube" href="#">
              <svg class="socials__img" width="32" height="29" fill="#fff">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>

          <li class="socials__item">
            <a class="socials__link" aria-label="telegram" href="#">
              <svg class="socials__img" width="32" height="29" fill="#fff">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="socials__item">
            <a class="socials__link" aria-label="instagram" href="#">
              <svg class="socials__img" width="32" height="29" fill="#fff">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>

    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__box">
        <p class="footer__copy">
          © 2021 фрешок
        </p>
        <div class="footer__accept">
          <a class="footer__accept-link" href="#">
            <img class="footer__accept-img" src="images/icon/visa.svg" width="93" height="29" alt="visa">
          </a>
          <a class="footer__accept-link" href="#">
            <img class="footer__accept-img" src="images/icon/mc.svg" width="49" height="29" alt="mastercard">
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>