<section class="promo" data-ref="container-2">
  <div class="container">

    <h2 class="title promo__title">
      Акции
    </h2>

    <ul class="products-filter__menu">

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-n">
          новинки
        </button>
      </li>

      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".category-h">
          хиты
        </button>
      </li>

    </ul>


    <ul class="promo__list">

      <li class="promo__item mix category-n">
        <article class="product-card product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/1.jpg" width="100" height="100" alt="Ананас">
                <span class="product-card__badge badge">новинка</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Ананас, 1 кг
                </h3>
                <div class="product-card__bottom">
                  <p class="product-card__status">
                    в наличии
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new ">
                        999<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        1999 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">4.5</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-n">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/2.jpg" width="100" height="100" alt="Кофе">
                <span class="product-card__badge badge">новинка</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Кофе с коноплей органический Caffé Salomoni 250г
                </h3>
                <div class="product-card__bottom">
                  <p class="product-card__status product-card__status--end">
                    заканчивается 
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        777<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        877 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">4.9</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-n">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/3.jpg" width="100" height="100" alt="Клубника">
                <span class="product-card__badge badge">новинка</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Клубника, 1 кг
                </h3>
                <div class="product-card__bottom product-card__bottom--promo">
                  <p class="product-card__status product-card__status--absent">
                    нет в наличии
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        440<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        600 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">5.0</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-n">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/4.jpg" width="100" height="100" alt="Манго">
                <span class="product-card__badge badge">новинка</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Манго, 1 шт
                </h3>
                <div class="product-card__bottom product-card__bottom--promo">
                  <p class="product-card__status">
                    в наличии
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        660<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        960 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">5.0</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-n">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/5.jpg" width="100" height="100" alt="Лосось">
                <span class="product-card__badge badge">новинка</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Лосось, 1 кг
                </h3>
                <div class="product-card__bottom product-card__bottom--promo">
                  <p class="product-card__status">
                    в наличии
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        999<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        1999 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">4.5</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-h">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/6.jpg" width="100" height="100" alt="Сок Granini">
                <span class="product-card__badge badge badge--hit">ХИТ</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Сок Granini овощной 100%, 0.5л
                </h3>
                <div class="product-card__bottom product-card__bottom--promo">
                  <p class="product-card__status product-card__status--end">
                    заканчивается
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        180<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        230 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">4.9</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-h">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/7.jpg" width="100" height="100"
                  alt="Фруктовая корзинат">
                <span class="product-card__badge badge badge--hit">хит</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Фруктовая корзина, 1 шт
                </h3>
                <div class="product-card__bottom product-card__bottom--promo">
                  <p class="product-card__status">
                    в наличии
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        3990<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        5990 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">4.8</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promo__item mix category-h">
        <article class="product-card--promo">
          <a class="product-card__link" href="#">
            <div class="product-card__inner">
              <div class="product-card__column">
                <img class="product-card__img" src="images/promo/8.jpg" width="100" height="100" alt="Свинина мякоть">
                <span class="product-card__badge badge badge--hit">хит</span>
              </div>
              <div class="product-card__content">
                <h3 class="product-card__heading">
                  Свинина мякоть, 1 кг
                </h3>
                <div class="product-card__bottom product-card__bottom--promo">
                  <p class="product-card__status">
                    в наличии
                  </p>
                  <div class="product-card__row">
                    <div class="product-card__offers">
                      <span class="product-card__price product-card__price--new">
                        499<span class="product-card__currency">₽</span>
                      </span>
                      <span class="product-card__price product-card__price--old">
                        599 ₽
                      </span>
                    </div>
                    <span class="product-card__rating">4.6</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

    </ul>

    <a class="button promo__button" href="#">
      Показать еще
    </a>

  </div>
</section>